@import "../../styles.scss";

.steps-container {
    width: 50%;
    display: flex;
    margin-top: 8px;
    justify-content: right;
}

.step {
    display: flex;
    align-items: center;
    width: 200px;
    height: $step-progress-height;
    margin-left: -1.6rem;
    font-size: 14px;
    font-weight: bold;
}

.selected_arrow_button {
    background-color: $color-primary;
    color: $color-primary-text;
}

.disabled_arrow_button {
    cursor: default;
    background-color: $color-window-gray;
    color: #ccc;
}

mat-divider {
    margin: 20px 0;
}
