// regular style toast
@import 'ngx-toastr/toastr';

// $color-primary: #bb89e9;
$color-primary: #98dfaa;
// $color-accent: #69d183;
$color-accent: #d6bfeb;

$color-primary-text: #000000;
$color-accent-text: #ffffff;

$color-window-gray: #7c7c7c;
$color-window-text: #ffffff;

$color-accent-table-background: #6b5183;
$color-accent-table-background-dark: #ba94dd;
$color-accent-table-background-light: #d4a8fd;

$color-accent-table-background-hover: #c7a0f9;

$navbar-height: 60px;
$step-progress-height: 50px;

* {
    // --bright-blue: oklch(51.01% 0.274 263.83);
    // --electric-violet: oklch(53.18% 0.28 296.97);
    // --french-violet: oklch(47.66% 0.246 305.88);
    // --vivid-pink: oklch(69.02% 0.277 332.77);
    // --hot-red: oklch(61.42% 0.238 15.34);
    // --orange-red: oklch(63.32% 0.24 31.68);

    // --gray-900: oklch(19.37% 0.006 300.98);
    // --gray-700: oklch(36.98% 0.014 302.71);
    // --gray-400: oklch(70.9% 0.015 304.04);

    // --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    //     180deg,
    //     var(--orange-red) 0%,
    //     var(--vivid-pink) 50%,
    //     var(--electric-violet) 100%
    // );

    // --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    //     90deg,
    //     var(--orange-red) 0%,
    //     var(--vivid-pink) 50%,
    //     var(--electric-violet) 100%
    // );

    // --pill-accent: var(--bright-blue);

    // font-family:
    //     "Inter",
    //     -apple-system,
    //     BlinkMacSystemFont,
    //     "Segoe UI",
    //     Roboto,
    //     Helvetica,
    //     Arial,
    //     sans-serif,
    //     "Apple Color Emoji",
    //     "Segoe UI Emoji",
    //     "Segoe UI Symbol",
    //     "Courier New";
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    background-color: $color-accent;
    font-size: 16px;
    padding-top: $navbar_height;
}

main {
    width: 100%;
    height: 100%;
    display: block;
}

a {
    color: $color-primary-text;
}

a:active {
    color: $color-primary-text;
}

a[tabindex]:focus {
    color: $color-primary-text;
    outline: none;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.horizontal-center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vertical-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-child {
    width: 100%;
    height: 100%;
}

.arrow_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    clip-path: polygon(
        0 0,
        30px 50%,
        0 100%,
        calc(100% - 30px) 100%,
        100% 50%,
        calc(100% - 30px) 0
    );
    background-color: $color-window-gray;
    color: $color-window-text;
}

.right_end_arrow_button {
    clip-path: polygon(
        0 0,
        30px 50%,
        0 100%,
        calc(100% - 30px) 100%,
        calc(100% - 30px) 0%,
    );
}

.table-button {
    width: auto;
    height: 100%;

    border-radius: 0;
    border: none;

    background-color: $color-window-gray;
    color: $color-window-text;
}

.table-button:hover {
    filter: brightness(80%);
}